@import url(http://fonts.googleapis.com/css?family=Exo:100);

body {
  transition: background-color 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  text-rendering: optimizeLegibility;
  background-color: white;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

h1 {
  transition: all 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  margin: 0;
  font-size: 10vw;
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  letter-spacing: -6.8vw;
  text-transform: uppercase;
  color: white;
}


